<h1>Update Your Blog Posts</h1>

<h3>My Blog Posts</h3> 
<% for (var i = 0; i < postData.length; i++) { %>
  <form method="POST" action="/update/<%= postData[i]._id.$oid %>" style="margin-bottom: 20px;">
    <input type="text" name="newPostContent" value="<%= postData[i].post %>" required>
    <input type="submit" value="Update">
  </form>
<% } %>

<a href="/read">Back to the Read Endpoints</a>
